In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
EPL_url = 'https://www.espn.com/soccer/standings/_/league/eng.1'
EPL_response = requests.get(EPL_url)
EPL_soup = BeautifulSoup(EPL_response.content, 'html.parser')

In [3]:
clubs_list = []
games_data_list = []

club_tags = EPL_soup.find_all('span', class_ = "hide-mobile")

for club_names in club_tags:
    clubs_list.append(club_names.get_text())
    
games_data_tags = EPL_soup.find_all('tbody', class_ = "Table__TBODY")
for games_data in games_data_tags:
    games_data = games_data.find_all('tr', class_ = 'Table__TR')
    for games_info in games_data: 
        games_list = []
        games_info = games_info.find_all('span', class_ = 'stat-cell')
        if games_info != []:
            for games in range(len(games_info)):
                games_list.append(int(games_info[games].get_text()))
            games_data_list.append(games_list)

print(clubs_list)
print(games_data_list)

['Manchester City', 'Liverpool', 'Chelsea', 'Tottenham Hotspur', 'Arsenal', 'Manchester United', 'West Ham United', 'Wolverhampton Wanderers', 'Leicester City', 'Brighton & Hove Albion', 'Newcastle United', 'Brentford', 'Southampton', 'Crystal Palace', 'Aston Villa', 'Leeds United', 'Everton', 'Burnley', 'Watford', 'Norwich City']
[[32, 24, 5, 3, 75, 20, 55, 77], [32, 23, 7, 2, 83, 22, 61, 76], [31, 18, 8, 5, 66, 27, 39, 62], [32, 18, 3, 11, 56, 38, 18, 57], [32, 18, 3, 11, 49, 39, 10, 57], [33, 15, 9, 9, 52, 48, 4, 54], [33, 15, 7, 11, 52, 43, 9, 52], [32, 15, 4, 13, 33, 28, 5, 49], [31, 11, 8, 12, 47, 51, -4, 41], [33, 9, 13, 11, 29, 40, -11, 40], [33, 10, 10, 13, 37, 55, -18, 40], [33, 11, 6, 16, 41, 49, -8, 39], [33, 9, 12, 12, 38, 54, -16, 39], [32, 8, 13, 11, 43, 41, 2, 37], [31, 11, 3, 17, 42, 46, -4, 36], [32, 8, 9, 15, 38, 68, -30, 33], [31, 8, 5, 18, 34, 53, -19, 29], [32, 5, 13, 14, 28, 45, -17, 28], [32, 6, 4, 22, 30, 62, -32, 22], [32, 5, 6, 21, 22, 66, -44, 21]]

In [4]:
EPL_dictionary = {}

for length in range(len(clubs_list)):
    EPL_dictionary[clubs_list[length]] = games_data_list[length]
    
print(EPL_dictionary)

{'Manchester City': [32, 24, 5, 3, 75, 20, 55, 77], 'Liverpool': [32, 23, 7, 2, 83, 22, 61, 76], 'Chelsea': [31, 18, 8, 5, 66, 27, 39, 62], 'Tottenham Hotspur': [32, 18, 3, 11, 56, 38, 18, 57], 'Arsenal': [32, 18, 3, 11, 49, 39, 10, 57], 'Manchester United': [33, 15, 9, 9, 52, 48, 4, 54], 'West Ham United': [33, 15, 7, 11, 52, 43, 9, 52], 'Wolverhampton Wanderers': [32, 15, 4, 13, 33, 28, 5, 49], 'Leicester City': [31, 11, 8, 12, 47, 51, -4, 41], 'Brighton & Hove Albion': [33, 9, 13, 11, 29, 40, -11, 40], 'Newcastle United': [33, 10, 10, 13, 37, 55, -18, 40], 'Brentford': [33, 11, 6, 16, 41, 49, -8, 39], 'Southampton': [33, 9, 12, 12, 38, 54, -16, 39], 'Crystal Palace': [32, 8, 13, 11, 43, 41, 2, 37], 'Aston Villa': [31, 11, 3, 17, 42, 46, -4, 36], 'Leeds United': [32, 8, 9, 15, 38, 68, -30, 33], 'Everton': [31, 8, 5, 18, 34, 53, -19, 29], 'Burnley': [32, 5, 13, 14, 28, 45, -17, 28], 'Watford': [32, 6, 4, 22, 30, 62, -32, 22], 'Norwich City': [32, 5, 6, 21, 22, 66, -44, 21]}

In [5]:
EPL_df = pd.DataFrame(EPL_dictionary, index = ['Games Played', 'Wins', 'Draws', 'Losses', 'Goals For', 'Goals Against', 
                                               'Goals difference', 'Points']).T
EPL_df.to_csv('EPL.csv')
EPL_df

,Games Played,Wins,Draws,Losses,Goals For,Goals Against,Goals difference,Points
Manchester City,32,24,5,3,75,20,55,77
Liverpool,32,23,7,2,83,22,61,76
Chelsea,31,18,8,5,66,27,39,62
Tottenham Hotspur,32,18,3,11,56,38,18,57
Arsenal,32,18,3,11,49,39,10,57
Manchester United,33,15,9,9,52,48,4,54
West Ham United,33,15,7,11,52,43,9,52
Wolverhampton Wanderers,32,15,4,13,33,28,5,49
Leicester City,31,11,8,12,47,51,-4,41
Brighton & Hove Albion,33,9,13,11,29,40,-11,40
Newcastle United,33,10,10,13,37,55,-18,40
Brentford,33,11,6,16,41,49,-8,39
Southampton,33,9,12,12,38,54,-16,39
Crystal Palace,32,8,13,11,43,41,2,37
Aston Villa,31,11,3,17,42,46,-4,36
Leeds United,32,8,9,15,38,68,-30,33
Everton,31,8,5,18,34,53,-19,29
Burnley,32,5,13,14,28,45,-17,28
Watford,32,6,4,22,30,62,-32,22
Norwich City,32,5,6,21,22,66,-44,21

In [6]:
games_played_stats = EPL_df['Games Played'].describe()
points_stats = EPL_df['Points'].describe()

stats_dictionary = {'Games Played': games_played_stats, 'Points': points_stats}
stats_df = pd.DataFrame(stats_dictionary)
stats_df

       Games Played     Points
count     20.000000  20.000000
mean      32.100000  44.450000
std        0.718185  15.859498
min       31.000000  21.000000
25%       32.000000  35.250000
50%       32.000000  40.000000
75%       33.000000  54.750000
max       33.000000  77.000000